* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 62.5%;
}

body {
  color: goldenrod;
  background-color: black;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

/* LOADER */
#loading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-loader {
  animation-name: loader;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

/* HEADER */

header {
  margin-top: 30px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

#brand {
  font-size: 2.5rem;
  font-weight: bolder;
  display: inline-block;
  color: aliceblue;
  font-family: inherit;
  transition: all 0.3s linear;
}

#brand:hover {
  transform: scale(1.2, 1.2);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  display: inline-block;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: goldenrod;
  font-weight: bold;
  font-size: 1.8rem;
  display: inline-block;
  transition: all 0.2s linear;
}

nav ul li a:hover {
  transform: scale(1.15, 1.15);
}

nav ul li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: goldenrod;
  transition: all 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}
#active {
  background-color: goldenrod;
  color: black;
  border: goldenrod 2px solid;
  border-radius: 30px;
  padding: 8px;
}

/* button */
.btn {
  background-color: goldenrod;
  padding: 10px 13px;
  outline: none;
  color: black;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 30px;
  text-decoration: none;
}

.btn:hover {
  background-color: transparent;
  color: goldenrod;
  border: 2px solid goldenrod;
}

.btn-top {
  transition: all 0.2s linear;
}

.btn-top:hover {
  transform: scale(1.09, 1.09);
}

.btn-bottom {
  font-size: 1.5rem;
}

/* button end */

.hamburger {
  background-color: transparent;
  border: 0;
  color: goldenrod;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.hamburger:hover {
  border: goldenrod 2px solid;
  padding: 5px;
  border-radius: 5px;
}

/* showcase */

#showcase {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  border-bottom: goldenrod 4px solid;
}

#show-text {
  width: 400px;
  position: absolute;
  left: 5%;
  transition: ease-in-out 0.5s;
}

#show-text:hover {
  left: 7%;
}

#show-text p {
  margin-bottom: 50px;
  word-spacing: 2px;
  line-height: 1.4;
  font-size: 2.5rem;
  width: 100%;
  font-weight: bolder;
}

#show-name {
  color: white;
  font-size: 3rem;
  display: block;
}

#show-img {
  position: absolute;
  right: 7%;
  transition: all 0.5s ease-in-out;
}

#show-img img {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  border: 10px goldenrod dotted;
  padding: 10px;
}

#show-img:hover {
  transform: scale(1.1, 1.1);
}

.section-head {
  width: 60%;
  text-align: center;
  margin: auto;
}

.section-text {
  padding-top: 25px;
  font-size: 2.2rem;
  font-weight: bold;
  color: whitesmoke;
}

/* skills */

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
  border-bottom: goldenrod 4px solid;
}

.skills-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.skillcard {
  display: grid;
  place-items: center;
  background-color: whitesmoke;
  height: 170px;
  width: 170px;
  margin: 10px 13px;
  transition: all 0.5s linear;
}

.skillcard:hover {
  transform: scale(1.1, 1.1);
}

.skill-img {
  width: 80%;
  height: auto;
  padding: 20px;
}

/* contact */

#contact {
  text-align: center;
  height: auto;
  border-bottom: 3px solid goldenrod;
}

#contact h4 {
  font-size: 1.1rem;
}

.contact-cards {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  margin: 15px 0;
}

.cont-card {
  display: grid;
  place-items: center;
  width: 200px;
  margin: 10px 20px;
  padding: 10px;
  height: 150px;
  border: white 2px solid;
  transition: all 0.5s linear;
}

.contact-cards i {
  font-size: 7rem;
  padding: 10px;
}

.cont-card:hover {
  transform: scale(1.1, 1.1);
}

/* footer */

footer {
  margin: auto 0px;
  text-align: center;
  padding: 20px;
}

#footerp {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #brand {
    font-size: 3rem;
    font-weight: bolder;
  }

  .btn-top {
    display: none;
  }

  .nav-ul {
    display: none;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
  }

  .nav-ul a {
    border-bottom: goldenrod solid 1px;
    border-width: 100%;
  }

  .nav-ul.show {
    display: flex;
    padding-bottom: 15px;
    border-bottom: goldenrod solid 5px;
    width: 100%;
  }

  .hamburger {
    display: block;
    transition: all 0.5s linear;
    margin-right: 10px;
  }

  #showcase {
    height: 500px;
  }

  #show-text {
    width: 400px;
  }

  #showcase p {
    font-size: 2rem;
    width: 100%;
  }

  #show-name {
    font-size: 3rem;
  }

  #show-img {
    right: 5%;
  }
  #show-img img {
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width: 767px) {
  #brand {
    margin-left: 10px;
  }

  .btn-top {
    display: none;
  }

  .nav-ul {
    display: none;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
  }

  .nav-ul a {
    border-bottom: goldenrod solid 1px;
    border-width: 100%;
  }

  .nav-ul.show {
    display: flex;
    padding-bottom: 15px;
    border-bottom: goldenrod solid 5px;
    width: 100%;
  }

  .hamburger {
    display: block;
    transition: all 0.5s linear;
    margin-right: 10px;
  }

  #showcase {
    height: 500px;
  }

  #showcase p {
    font-size: 1.5rem;
  }

  #show-text {
    left: 8%;
    width: 300px;
  }

  #show-text p {
    font-size: 1.5rem;
  }

  #show-name {
    font-size: 2.5rem;
  }

  #show-img img {
    width: 250px;
    height: 250px;
    right: 5%;
    border: 8px dotted goldenrod;
  }

  #btn-bottom {
    font-size: 1.3rem;
  }

  #footerp {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 723px) {
  #showcase {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
  }

  #show-text {
    position: relative;
    width: 90vw;
    left: 0;
    margin: 30px;
    margin-top: 40px;
    transition: ease-in-out 0.5s;
  }

  #show-text:hover {
    left: 0;
    transform: scale(1.1, 1.1);
  }

  #show-text p {
    margin: auto;
    line-height: 1.5;
    margin-bottom: 40px;
    font-size: 2rem;
  }

  #show-name {
    font-size: 2.5rem;
  }

  #show-img {
    position: relative;
    width: 90vw;
    right: 0;
    margin: 30px;
    margin-top: 40px;
  }
}
