@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Space Grotesk", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}

/* LOADER */
#loading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-loader {
  animation-name: loader;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

/* HEADER */

header {
  margin-top: 30px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

#brand {
  font-size: 2.5rem;
  font-weight: bolder;
  display: inline-block;
  color: aliceblue;
  font-family: inherit;
  transition: all 0.3s linear;
}

#brand:hover {
  transform: scale(1.2, 1.2);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  display: inline-block;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: goldenrod;
  font-weight: bold;
  font-size: 1.8rem;
  display: inline-block;
  transition: all 0.2s linear;
}

nav ul li a:hover {
  transform: scale(1.15, 1.15);
  color: white;
}

nav ul li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: white;
  transition: all 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}
#active {
  background-color: goldenrod;
  color: black;
  border: goldenrod 2px solid;
  border-radius: 30px;
  padding: 8px;
}

/* button */
.btn {
  background-color: goldenrod;
  padding: 10px 13px;
  outline: none;
  color: black;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 30px;
  text-decoration: none;
}

.btn:hover {
  background-color: transparent;
  color: goldenrod;
  border: 2px solid goldenrod;
}

.btn-top {
  transition: all 0.2s linear;
}

.btn-top:hover {
  transform: scale(1.09, 1.09);
}

/* button end */

.hamburger {
  background-color: transparent;
  border: 0;
  color: goldenrod;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.hamburger:hover {
  border: goldenrod 2px solid;
  padding: 5px;
  border-radius: 5px;
}
/* main page */
main {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  flex-wrap: wrap;
  border-bottom: rgb(153, 148, 148) 1px solid;
}

.main__page--text {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.main__page--text h1 {
  font-size: 3.3rem;
  color: white;
}

.main__page--text * {
  padding: 5px;
}

.main__page--text p {
  width: 100%;
  line-height: 1.5;
  color: rgb(224, 215, 215);
}

.main__page--image img {
  width: 350px;
  height: 350px;
  border: 4px solid white;
  padding: 8px;
}

.main__page--text span {
  display: block;
}

.mp_text-btn {
  font-size: 1.5rem;
  background-color: goldenrod;
  padding: 10px;
  color: black;
  margin-top: 10px;
  width: 150px;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  transition: all 0.2s linear;
}

.mp_text-btn:hover {
  transform: scale(1.1, 1.1);
  background-color: transparent;
  border: 2px solid goldenrod;
  color: goldenrod;
}

@media screen and (max-width: 960px) {
  .main__page--text {
    width: 50%;
  }

  .main__page--image img {
    height: 300px;
    width: 300px;
  }

  .main__page--text h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 720px) {
  #navbar {
    margin-top: 20px;
  }

  main {
    padding: 20px 0;
  }

  .main__page--text {
    width: 80%;
    text-align: center;
    margin: 15px 0;
    align-items: center;
  }

  .main__page--text h1 {
    font-size: 2.5rem;
  }

  .main__page--text p {
    font-size: 1.2rem;
  }
}

/* general */
.portfolio,
.skills,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  padding: 20px 30px;
  width: 100%;
  border-bottom: rgb(153, 148, 148) 1px solid;
}

.portfolio h1,
.skills h1,
.contact h1 {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 3px solid red;
}

/* skills */

.skills-card {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.skillcard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100%;
  padding: 25px;
  margin: 10px;
  transition: all 0.5s linear;
  overflow: hidden;
}

.skillcard:hover {
  transform: scale(1.1, 1.1);
}

.skill-img {
  height: 100px;
}

@media screen and (max-width: 560px) {
  .skills-card {
    width: 100%;
  }

  .skillcard {
    margin: 8px 5px;
    height: 90px;
    width: 90px;
  }

  .skill-img {
    height: 50px;
  }
}

/* footer */

footer {
  margin: auto 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footerp {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 5px;
}

#footerp a {
  text-decoration: underline;
}

/* contact */

.contact-cards {
  display: flex;
  width: auto;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 5px;
}

.cont-card {
  border-radius: 100%;
  border: white 2px solid;
  display: grid;
  place-items: center;
  margin: 0 5px;
}

.contact-cards i {
  padding: 13px;
  font-size: 1.4rem;
}

.cont-card:hover {
  background-color: white;
  color: black;
  transform: scale(1.1, 1.1);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #brand {
    font-size: 3rem;
    font-weight: bolder;
  }

  .btn-top {
    display: none;
  }

  .nav-ul {
    display: none;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
  }

  .nav-ul a {
    border-bottom: goldenrod solid 1px;
    border-width: 100%;
  }

  .nav-ul.show {
    display: flex;
    padding-bottom: 15px;
    border-bottom: goldenrod solid 5px;
    width: 100%;
  }

  .hamburger {
    display: block;
    transition: all 0.5s linear;
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  #brand {
    margin-left: 10px;
  }

  .btn-top {
    display: none;
  }

  .nav-ul {
    display: none;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
  }

  .nav-ul a {
    border-bottom: goldenrod solid 1px;
    border-width: 100%;
  }

  .nav-ul.show {
    display: flex;
    padding-bottom: 15px;
    border-bottom: goldenrod solid 5px;
    width: 100%;
  }

  .hamburger {
    display: block;
    transition: all 0.5s linear;
    margin-right: 10px;
  }

  #footerp {
    font-size: 1.5rem;
  }

  .contact-cards i {
    padding: 8px;
    font-size: 1.1rem;
  }
}
